{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
        {% include "header.html" %}
        <div class="flex flex-col px-10 md:px-14 lg:px-20 xl:px-36 py-4 md:py-6 lg:py-8 xl:py-10">
            <div class="flex justify-between items-center w-full mb-5">
                <form id="search-form" class="hidden md:block basis-full md:basis-1/2" method="get">
                    <div class="relative">
                        <button type="button" id="close-search-button" class="absolute inset-y-0 start-0 ps-3 md:hidden">
                            <svg class="w-3 h-3 text-gray-800 dark:text-white hover:text-red-500 dark:hover:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                        </button>
                        <input type="text" id="search" class="block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 ps-8 md:ps-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search..." name="search" value="{{ request.args.get('search') if request.args.get('search') }}">
                        <button type="submit" class="absolute inset-y-0 end-0 pe-3">
                            <svg class="w-5 h-5 text-gray-900 dark:text-white hover:text-blue-500 dark:hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </button>
                    </div>
                </form>
                <button type="button" id="show-search-button" class="flex items-center md:hidden text-gray-900 dark:text-white hover:text-blue-500 dark:hover:text-blue-500">
                    <svg class="w-5 h-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="text-base font-semibold ml-2.5">Search</span>
                </button>
                <div id="pagination-container" class="flex justify-end items-center basis-full md:basis-1/2">
                    {% if data.total > 0 %}
                        <p class="text-gray-900 dark:text-white">
                            {{ data.first }} - {{ data.last }} of {{ data.total }} Cars
                        </p>
                    {% endif %}
                    {% if data.has_prev %}
                        <a href="{{ url_for('car.list', page=data.prev_num, search=request.args.get('search')) if request.args.get('search') else url_for('car.list', page=data.prev_num) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 ml-5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Prev
                        </a>
                    {% endif %}
                    {% if data.has_next %}
                        <a href="{{ url_for('car.list', page=data.next_num, search=request.args.get('search')) if request.args.get('search') else url_for('car.list', page=data.next_num)}}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 ml-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Next
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4">
                {% for d in data if data.total > 0 %}
                <div class="bg-white border border-gray-200 w-full rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{{ url_for('car.detail', slug=d.slug) }}">
                        <img class="rounded-t-lg w-full h-80 md:h-64 xl:h-56 lg:h-48 object-cover" src="{{ url_for('static', filename=d.image) }}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="{{ url_for('car.detail', slug=d.slug) }}">
                            <h2 class="text-base font-bold tracking-normal text-gray-900 dark:text-white">{{ d.manufacturer }} {{ d.model }} {{ d.type }} {{ d.year }}</h2>
                        </a>
                    </div>
                </div>
                {% else %}
                <p class="text-base text-gray-900 dark:text-white">
                    <span class="font-semibold">"{{ request.args.get("search")}}"</span> not found!.
                </p>
                {% endfor %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}

{% block script_footer %}
    {{ super() }}

    <!-- For search handling -->
    <script>
        const searchForm = document.getElementById("search-form");
        const showSearchButton = document.getElementById("show-search-button");
        const closeSearchButton = document.getElementById("close-search-button");
        const paginationContainer = document.getElementById("pagination-container");
        
        showSearchButton.addEventListener("click", () => {
            showSearchButton.classList.add("hidden");
            searchForm.classList.remove("hidden");
            paginationContainer.classList.add("hidden");
        });

        closeSearchButton.addEventListener("click", () => {
            showSearchButton.classList.remove("hidden");
            searchForm.classList.add("hidden");
            paginationContainer.classList.remove("hidden");
        });
    </script>
{% endblock %}
